*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.vscode
gradle-9.2.1
gradle-9.2.1-bin.zip
build_log.txt
build_log_2.txt
node_modules/
dist/
.DS_Store
