*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.vscode
gradle-9.2.1
gradle-9.2.1-bin.zip
build_log*.txt
build_err*.txt
build_error*.log
deps.txt
node_modules/
dist/
*.apk
*.aab
keystore/
*.keystore
!keystore/release.keystore
